.nav-tabs, .nav-pills {
    position: relative;
    display: inline-block;
}
.convincingCTA {
  position: relative;
  top: 10px;
  /*left: 25%;*/
  font-size: 1.5em;
  /*width: 84%;*/
}
.beautifulImage {
  margin-top: 4%;
  max-height:250px;
}
/*@media (max-width: 1200px) {
  .convincingCTA{
    display: none;
  }
}*/