<html ng-app>
<head>
	<title>Demo</title>
	<script type="text/javascript" src="js/lib/angular.min.js"></script>
	<script type="text/javascript" src="js/controllers/app.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css">
</head>
<body>
	<div class="container" ng-controller="AppCtrl">
		<h1>AngulAir</h1>

		<!-- <ul ng-repeat="place in vacations">
			<li>{{place.city}}</li>
			<li>{{place.country}}</li>
			<li>{{place.location}}</li>
			<li>{{place.languages}}</li>
		</ul> -->

		<ul>
			<li ng-repeat="place in vacations">
				<a href="" ng-click="setDestination(place.city)">{{place.city}} - {{place.country}}</a>
			</li>
		</ul>

		<p ng-show="currentCity">Current destination: {{currentCity.city}}</p>

	</div>

		
</body>
</html>