<html ng-app="destination">
<head>
	<title>Demo</title>
	<script type="text/javascript" src="js/lib/angular.min.js"></script>
	<script type="text/javascript" src="js/controllers/app.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container" ng-controller="AppCtrl">
		<h1>AngulAir</h1>

		

		<ul class="nav nav-pills">
			<li ng-class="destinationsActive">
				<a href="#">Destinations</a>
			</li>

			<li ng-class="locationActive">
				<a href="#/locations">Location</a>
			</li>

			<li ng-class="planActive">
				<a href="#/plan">Plan</a>
			</li>
		<ul>


		<div ng-view></div>



		<!-- <div class="pull-left span6">

			<ul>
				<li ng-repeat="place in vacations">
					<a href="" ng-click="setDestination(place.city)">{{place.city}} - {{place.country}}</a>
				</li>
			</ul>

			<p ng-show="currentCity">Current destination: {{currentCity.city}}</p>
		</div>

		<div class="span5" ng-include src="sidebarURL"></div> -->
		<div >
			<p class="convincingCTA" ng-show="currentCity">Why don't I visit {{currentCity.city}}?</p>
		</div>

		<div>
			<img ng-show="currentCity" ng-src="{{currentCity.image}}" alt="Description" class="beautifulImage"/>
		</div>
	</div>

		
</body>
</html>